src/wsdl/firmador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://facade.firmaElectronica.rntpp.mtt.cl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentoFacadeService" targetNamespace="http://facade.firmaElectronica.rntpp.mtt.cl/">
   <types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://facade.firmaElectronica.rntpp.mtt.cl/" version="1.0">
         <xs:element name="procesarXml" type="tns:procesarXml" />
         <xs:element name="procesarXmlResponse" type="tns:procesarXmlResponse" />
         <xs:complexType name="procesarXml">
            <xs:sequence>
               <xs:element name="region" type="xs:int" />
               <xs:element minOccurs="0" name="sistema" type="xs:string" />
               <xs:element minOccurs="0" name="tipoDcto" type="xs:string" />
               <xs:element minOccurs="0" name="materia" type="xs:string" />
               <xs:element minOccurs="0" name="xml" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="procesarXmlResponse">
            <xs:sequence>
               <xs:element name="return" type="xs:int" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </types>
   <message name="procesarXml">
      <part name="parameters" element="tns:procesarXml" />
   </message>
   <message name="procesarXmlResponse">
      <part name="parameters" element="tns:procesarXmlResponse" />
   </message>
   <portType name="DocumentoFacadeDelegate">
      <operation name="procesarXml">
         <input message="tns:procesarXml" wsam:Action="http://facade.firmaElectronica.rntpp.mtt.cl/DocumentoFacadeDelegate/procesarXmlRequest" />
         <output message="tns:procesarXmlResponse" wsam:Action="http://facade.firmaElectronica.rntpp.mtt.cl/DocumentoFacadeDelegate/procesarXmlResponse" />
      </operation>
   </portType>
   <binding name="DocumentoFacadePortBinding" type="tns:DocumentoFacadeDelegate">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <operation name="procesarXml">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
   </binding>
   <service name="DocumentoFacadeService">
      <port name="DocumentoFacadePort" binding="tns:DocumentoFacadePortBinding">
         <soap:address location="http://wsqa.mtt.cl/services/RecibeDocumentoFirma_Api_Tramites" />
      </port>
   </service>
</definitions>